{% extends "base.html" %}

{% block content %}
    <div class="h-full min-h-screen flex pt-20 font-roboto-mono pb-10">
        <div class="space-y-20 w-full">
            <h1 class="text-5xl capitalize">About Us</h1>
            <p class="text-lg">We are a group of three passionate Information Technology students from Carlos Hilado Memorial State University, working together on our capstone project. As a team, we are dedicated to combining our skills in programming, system development, and documentation.<br><br>Our collaborative approach ensures we learn, grow, and excel together.</p>
            <div class="space-y-20">
                {% for member in members %}
                    <div class="space-y-10">
                        <div class="flex {% if loop.index % 2 == 0 %}flex-row-reverse{% endif %} gap-x-20 h-fit">
                            <div class="bg-white w-1/3 aspect-square relative">
                                <div class="absolute top-2 -left-2 dark:bg-neutral-700 border dark:border-gray-400 bg-gray-100 w-full h-full" style="z-index: 1;"></div>
                                <div class="absolute inset-0 bg-gray-200 dark:bg-white z-10">
                                    <img src="{{ url_for('static', filename='images/' + member.image) }}" 
                                        alt="wency" class="w-full h-full">
                                </div>
                            </div>
                            <div class="w-full flex flex-col justify-between {% if loop.index % 2 == 0 %}items-end text-end{% endif %}">
                                <div>
                                    <h1 class="text-3xl font-semibold tracking-wide">{{ member.name }}</h1>
                                    <p class="uppercase">{{ member.position }}</p>
                                </div>
                                <p class="w-2/3 dark:text-gray-300">{{ member.description }}</p>
                                <div>
                                    <button class="px-3 border rounded bg-gray-300 dark:bg-neutral-600">Download CSV</button>
                                </div>
                            </div>
                        </div>
                        <div class="space-y-5 {% if loop.index % 2 == 0 %}flex flex-col items-end{% endif %}">
                            <h1 class="text-2xl">Interests</h1>
                            <div class="flex gap-x-5">
                                {% for interest in member.interests %}
                                    <div class="flex items-center gap-x-2">
                                        <div class="bg-neutral-600 w-fit p-1 rounded">
                                            {{ interest.icon|safe }}
                                        </div>
                                        <p class="capitalize">{{ interest.interest }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    let currentIndexShowing = 1
</script>
{% endblock %}