{% extends "base.html" %}

{% block content %}
    <div class="h-full min-h-screen flex pt-20 font-roboto-mono pb-10">
        <div class="space-y-20 w-full">
            <h1 class="text-5xl capitalize">Demonstration Video</h1>
            <p class="text-lg">Watch our videos to see how the system works. Learn about key features and how to use them step by step.</p>
            <div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    let currentIndexShowing = 1
</script>
{% endblock %}